nav{
    background-color: #f2cfa5;
    height: 60px;
    position: sticky;
    width: 100%;
   

}
.nav-font {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 15px;
    display: flex;

}
.nav-font>.nav-li {
    width: 20%;
}
.nav-li {
    margin: 17px 30px 0px 15px;
    padding: 0;
    border: 0;
    float: left;
    font-family: monospace;
    font-size:  15px;
    font-weight: 3px;
    text-decoration: none;
}

.icon {
   height: 30px;
   margin: 20px;
}
.userIcon {
    width: 30px;
    height: 30px;
    float: right;
    display: flex;
}

.nav-icon {
    display: flex;
    text-align: center;
    margin: 0 30px 50px 0px;
    padding: 0 30 0 0px;
}
a {
    text-decoration-line: none;
}
img {
	vertical-align : bottom;
	display: block;
}